body{
    display:flex;
    background-color:skyblue;
    background-image: url("jungle-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    height:100vh;
    width:95vw;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}
.login-card{
    display:flex;
    background-color:limegreen;
    opacity:80%;
    box-shadow:14px 10px 15px darkgreen;
    border: 5px;
    border-radius:25px;
    align-items:center;
    flex-direction:column;
    min-height: 450px;
    min-width: 450px;
}
.box{
    border:3px maroon solid;
    border-radius:15px;
    height:25px;
}
.login-card h1{
    margin:10px;
    font-size:4rem;
    font-family: cursive;
}
.login-card h2{
    margin:7.5px;
    font-size:2rem;
    font-family:cursive;
}
.button{
    background-color:orange;
    border: 2px maroon solid;
    margin:20px;
    opacity:90%;
    border-radius:35px;
    height:55px;
    width:200px;
    font-size:2rem;
    font-family: cursive;
}
.button:hover{
    cursor:pointer;
    background-color:orangered;
}
.login-card a{
    margin: 10px;
    font-size:1.2rem;
}
.login-card a:hover{
    font-size: 1.3rem;
    color:blueviolet;   
}